body {
  margin: 0;
  padding: 0;
}

/* Establece una altura mínima del viewport */
html, body {
  height: 100%;
}

/* Establece el color de fondo general */
body {
  background-color: #8f8e90;
  font-family: Bebas Neue; /* Cambiado a una fuente más común */
}

/* Establece el color del texto para todos los elementos */

.bg-custom {
  background-color: #454446; /* Establece el color de fondo personalizado */
}
/* Estilos para la barra de navegación */
.navbar-brand {
  color: white; /* Cambiado a blanco para mayor contraste */
}

.navbar-light .navbar-nav .nav-link {
  color: white; /* Establece el color del texto de los enlaces de navegación en blanco */
}

.custom-padding {
margin: 1% 1% 1% 0; /* Ajusta los márgenes superior, derecho e izquierdo */
border-radius: 20px;
}

/* Estilos para el contenido principal */
.main {
font-family: Bebas Neue;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin-top: 10%; /* Ajustado para adaptarse al nuevo margen superior */
width: 100%;
padding: 4% 10%; /* Ajustado para adaptarse al nuevo margen superior */
border-top-left-radius: 30px;
border-top-right-radius: 30px;
background-color: #8f8e90;
}

.container {
max-width: 1100px;
margin: auto;
overflow: hidden;
}


/* Estilos específicos */
.custom-padding {
padding: 20px ;
}

.navbar-brand img {
margin-left: 10px;
}
.resumenCompra header, .resumenCompra footer, .resumenCompra .resumen-body {
  padding: 10px;
}
.nav-link {
color: white !important;
margin-left: 20px !important;
}

.contenedor-producto {
  display: flex;
  justify-content: space-between; /* Espacia los elementos */
  align-items: stretch; /* Alinea los elementos en toda la altura */
  margin-top: 50px;
  width: 100%;
}

.contenedor-imagen-titulo {
flex: 1;
text-align: center;
margin-right: 60px; /* Agrega espacio a la derecha de la imagen */
}

.mainImg {
  width: 500px;
  height: 270px;
  left: 0;
   /* Ajusta la imagen para cubrir el contenedor */
  border-radius: 15px;
}
.resumenCompra {
background-color: #e9e7eb;
border: 1px solid #454446;
padding: 6px 0 0 0;
border-radius: 1rem;
height: auto;
width: 100%;
max-width: 400px;
}

.resumenCompra header, .resumenCompra footer, .resumenCompra .resumen-body {
padding: 10px;
}

.agregarCarrito {
background-color: #4CAF50;
color: white;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-top: 20px;
cursor: pointer;
border-radius: 15px;
}
#descripcion {
  margin: 0 auto 20px; /* Margen inferior para separar del botón */
  word-wrap: break-word; /* Rompe las palabras largas */
  width: 100%; /* Ocupa todo el ancho disponible */
  text-align: center;
  display: block; /* Asegura que el texto ocupe todo el ancho del contenedor */
  font-size: 20px;
}

.agregarCarrito:hover {
background-color: #45a049;
}

.volverMenu {
background-color: #454446;
color: white;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-top: 20px;
cursor: pointer;
border-radius: 15px;
}
#precioSigno {
  display: inline-block; /* Hace que el elemento se muestre en línea con su contenido */
}
#precio {
  display: inline-block; /* Hace que el elemento se muestre en línea con su contenido */
}
@media only screen and (max-width: 768px) {
.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand img {
    margin-left: 0px;
}

.navbar-toggler {
    order: 1;
}

.collapse {
    order: 2;
}

.navbar-collapse {
    margin-top: 10px;
}

.nav-link {
    margin: 10px 0;
}
.mainImg {
  max-width: 310px;
  height: 150px;
  border-radius: 15px;
  margin-bottom: 3%;
}
.contenedor-producto {
    flex-direction: column;
}

.contenedor-precio {
    margin-top: 20px;
}
}
/*footer estilo */
.footer {
  font-family: Bebas Neue;
  background-color: #454446;
  width: 100%;
  max-width: 100%; /* Ancho máximo para el footer */
  margin: auto; /* Centra el footer en la página */
  padding: 19px; /* Ajusta el espacio interno del footer */
  height: 100%;
}
.footer .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px;
}
.grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grupo-1 .box h2{
  color: white;
  margin-bottom: 2%;
  font-size: 20px;
}
.grupo-2{
  padding: 1% 1%;
  text-align: center;
}
@media screen and (max-width: 800px){
  .footer .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
  .footer{
    max-width: 100%;
  }
}
.carts {
  width: fit-content;
  height: fit-content;
  background-color: #454446;
  display: flex;
  align-items: center;
  justify-content: center;
 padding: 1% 0 1% 0;
  gap: 20px;
}
.linkPaginas{
  text-decoration: none;
  color:rgb(44, 44, 44);
  display: block; /* Hace que los enlaces se muestren como bloques, ocupando toda la anchura disponible */
  margin-bottom: 10px; 
}
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}

.socialContainer:not(:last-child) {
  margin-right: 20px; /* Espacio entre los iconos */
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



/* Carrito de compra */

.maincarrito{
    position:relative;
    flex-wrap: wrap;
    margin-top: 10%; /* Ajustado para adaptarse al nuevo margen superior */
    margin-right: 0%;
    margin-bottom: 0%;
    height: auto;
    width: auto;
    padding: 4% 0% 10% 10%; /* Ajustado para adaptarse al nuevo margen superior */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color:rgba(231, 223, 236, 0);
    
}

.btn-cart {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    position:relative;
    right: 0px;
    top: -5px;
  }
  
  .btn-cart::after {
    content: attr(data-quantity);
    width: fit-content;
    height: fit-content;
    position: absolute;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    visibility: hidden;
    transition: .2s linear;
    top: 105%;
  }
  
  .icon-cart {
    width: 22px;
    height: 22px;
    transition: .2s linear;
  }
  
  .icon-cart path {
    fill: rgb(8, 112, 240);
    transition: .2s linear;
  }
  
  .btn-cart:hover > .icon-cart {
    transform: scale(1.2);
  }
  
  .btn-cart:hover > .icon-cart path {
    fill: rgb(34, 233, 84);
  }
  
  .btn-cart:hover::after {
    visibility: visible;
    opacity: 1;
    top: 80%;
  }
  
  .quantity {
    display: none;
  }
  
  .carrito-activo .icon-cart {
    fill: rgb(34, 233, 84); 
  }
  .carrito-activo .icon-cart path {
    fill: rgb(34, 233, 84); 
  }

  .carrito h2{
     
    margin-top: -3%;
    margin-left: -10%;
  }
  
  .carrito hr{
    margin-left: -12%;
    width: 60%;
    border-width: 3px;
  }

/*Resumen de compra*/
