body {
    margin: 0;
    padding: 0;
    background-color: #454446;
  }
  
  /* Establece una altura mínima del viewport */
  html, body {
    height: 100%;
  }
  
  /* Establece el color de fondo general */
  body {
    background-color: #8f8e90;
    font-family: Bebas Neue; /* Cambiado a una fuente más común */
  }
  
  /* Establece el color del texto para todos los elementos */
  
  .bg-custom {
    background-color: #454446; /* Establece el color de fondo personalizado */
  }
  /* Estilos para la barra de navegación */
  .navbar-brand {
    color: white; /* Cambiado a blanco para mayor contraste */
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: white; /* Establece el color del texto de los enlaces de navegación en blanco */
  }
  
  .custom-padding {
    margin: 1% 1% 1% 1%; /* Ajusta los márgenes superior, derecho e izquierdo */
    border-radius: 20px;
  }
  
  /* Estilos para el contenido principal */
  .main {
    font-family: Bebas Neue;
    position: relative;
    flex-wrap: wrap;
    margin-top: 10%; /* Ajustado para adaptarse al nuevo margen superior */
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0; /* Asegura que no hay margen izquierdo */
    height: auto;
    width: 100%; /* Ancho completo */
    max-width: 100%;
    padding: 4% 0% 10% 10%; /* Ajustado para adaptarse al nuevo margen superior */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #8f8e90;
  }
  
  /* Estilos para el contenedor de imágenes */
  
  #quantity {
    text-align: center;
    /* Estilos adicionales para el número */
    margin-top: 3%;
    font-size: 14px; /* Tamaño de fuente */
    font-weight: bold; /* Peso de la fuente */
    color: white;
  }

  
  .btn-buscar {
  width: 60px;
  height: 30px;
  border-radius: 0 10px 10px 0;
  border: none;
  background-color: #454446;
  color: white;
  cursor: pointer;
  outline: none;
  font-size: 15px;
  }
  
  .btn-outline-success {
  font-size: 1.5vw; /* Tamaño de fuente relativo al ancho de la ventana */
  }
  #cart-container{
    max-width: 500px;
    margin: auto;
  }
  
  .tarjeta-producto{
    display: flex;
    align-items: center;
    height: 100px;
    gap: 20px;
  }
  
  .tarjeta-producto img{
    height: 100%;
  }
  
  .tarjeta-producto h3{
    width: 130px;
  }
  .tarjeta-producto div{
    background-color: var(--color-acento-claro);
    padding: 3px;
    border-radius: 5px;
  }
  
  #totales{
    text-align: center;
  }
  
  #carrito-vacio{
    text-align: center;
  }
  /* Estilos para el filtro */
  .custom-select select {
  padding: 0.2%;
  position: fixed;
  width: 10%; /* Utiliza el 20% del ancho de la ventana */
  position: absolute; /* Cambiado a posición absoluta */
  top: 1%; /* Ajusta la distancia desde la parte superior */
  left: 1%; /* Ajusta la distancia desde la izquierda */
  z-index: 999; /* Asegura que la barra esté por encima de otros elementos si hay superposiciones */
  text-align: center; /* Alinea el texto al centro */
  font-size: 100%; /* Tamaño de fuente relativo al ancho de la ventana */
  height: auto; /* Altura automática */
  border-radius: 30px; /* Radio de borde */
  }
  
  .filter {
  display: none;
  opacity: 0;
  order: 1;
  }
  
  .btn-outline-success {
  font-size: 1em; /* Tamaño de fuente relativo */
  }
  
  .btn-outline-success {
    font-size: 1em; /* Tamaño de fuente relativo */
  }
  
  /* Ofertas */
  
 
  
  /* Footer estilo */
  .footer {
  font-family: Bebas Neue;
  background-color: #454446;
  width: 100%;
  max-width: 100%; /* Ancho máximo para el footer */
  margin: auto; /* Centra el footer en la página */
  padding: 19px; /* Ajusta el espacio interno del footer */
  }
  
  .footer .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px;
  }
  
  .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .grupo-1 .box h2 {
  color: white;
  margin-bottom: 2%;
  font-size: 20px;
  }
  
  .grupo-2 {
  padding: 1% 1%;
  text-align: center;
  }
  
  @media screen and (max-width: 800px) {
  .footer .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
  
  .footer {
    max-width: 100%;
  }
  }
  
  .carts {
  width: fit-content;
  height: fit-content;
  background-color: #454446;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1% 0 1% 0;
  gap: 20px;
  }
  
  .linkPaginas {
  text-decoration: none;
  color: rgb(44, 44, 44);
  display: block; /* Hace que los enlaces se muestren como bloques, ocupando toda la anchura disponible */
  margin-bottom: 10px; 
  }
  
  .socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
  }
  
  .socialContainer:not(:last-child) {
  margin-right: 20px; /* Espacio entre los iconos */
  }
  
  /* Instagram */
  .containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
  }
  
  /* Twitter */
  .containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
  }
  
  /* LinkedIn */
  .containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
  }
  
  /* WhatsApp */
  .containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
  }
  
  .socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
  }
  
  .socialSvg {
  width: 17px;
  }
  
  .socialSvg path {
  fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .grid-column {
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos se ajusten en múltiples filas si es necesario */
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 30px;
    max-width: 100%;
    width: 100%;
  }
  
  .figura {
    text-align: center;
    height: auto;
    overflow: hidden;
    margin: 30px;
    /* Simplifica los márgenes */
  }
  /* APARTADO DEL CARRITO DE COMPRA*/
  
  .maincarrito {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    padding: 4% 2% 10% 2%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: rgba(231, 223, 236, 0);
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  /* Boton del carrito de compra */
  .btn-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    position: relative;
    right: 0;
    top: -5px;
  }
  
  .btn-cart::after {
    content: attr(data-quantity);
    width: fit-content;
    height: fit-content;
    position: absolute;
    font-size: 15px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    visibility: hidden;
    transition: .2s linear;
    top: 105%;
  }
  .producto {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .producto img {
    width: 100px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
    margin-right: 20px;
  }
  
  .producto-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .producto-info .nombre-producto {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .precio-container {
    margin-right: 2%;
    color: black; /* Cambia el color del precio a negro */
  }
  
  .cantidad-container {
    display: flex;
    align-items: center;
  }
  
  .cantidad-container .bin-button,
  .cantidad-container .buttonCantidad {
    margin-left: 10px; /* Ajusta el margen según sea necesario */
    cursor: pointer;
  }
  
  .cantidad {
    margin: 0 5px; /* Ajusta el margen alrededor del número de cantidad */
    min-width: 20px; /* Evita que los botones se muevan cuando la cantidad tiene dos dígitos */
    text-align: center; /* Centra el texto de la cantidad */
  }
  
  .icon-cart {
    width: 22px;
    height: 22px;
    transition: .2s linear;
    margin-right: 5px;
  }
  
  .icon-cart path {
    fill: rgb(8, 112, 240);
    transition: .2s linear;
  }
  
  .btn-cart:hover > .icon-cart {
    transform: scale(1.2);
  }
  
  .btn-cart:hover > .icon-cart path {
    fill: rgb(34, 233, 84);
  }
  
  .btn-cart:hover::after {
    visibility: visible;
    opacity: 1;
    top: 80%;
  }
  
  .quantity {
    display: none;
  }
  
  .carrito-activo .icon-cart {
    fill: rgb(34, 233, 84);
  }
  
  .carrito-activo .icon-cart path {
    fill: rgb(34, 233, 84);
  }
  
  /* Escrito sobre el carrito */
  .carrito h3 {
    margin-top: -3%;
    margin-left: -10%;
  }
  
  .carrito hr {
    margin-left: -12%;
    width: 120%;
    border-width: 2px;
  }
  
  /* Estructura del producto */
  .producto {
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-wrap: nowrap;
    width: 100%;
  }
  
  .producto img {
    width: 100px;
    margin-right: 10px;
    position: relative;
  }
  
  .nombre-producto {
    font-weight: bold;
    flex: 1;
  }
  .totalProductos{
    white-space: nowrap;
  align-items: center;
  }
  .precioProducto {
    margin-top: 0;
    margin-left: 25%;
    white-space: nowrap;
  }
  
  /* Botones de eliminar */
  .bin-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 25%;
    background-color: rgb(255, 95, 95);
    cursor: pointer;
    border: 2px solid rgb(255, 201, 201);
    transition-duration: 0.3s;
    position: relative;
    overflow: hidden;
    margin-left: auto;
  }
  
  .bin-bottom {
    width: 15px;
    z-index: 2;
  }
  
  .bin-top {
    width: 17px;
    transform-origin: right;
    transition-duration: 0.3s;
    z-index: 2;
  }
  
  .bin-button:hover .bin-top {
    transform: rotate(45deg);
  }
  
  .bin-button:hover {
    background-color: rgb(255, 0, 0);
  }
  
  .bin-button:active {
    transform: scale(0.9);
  }
  
  .garbage {
    position: absolute;
    width: 14px;
    height: auto;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
  }
  
  .bin-button:hover .garbage {
    animation: throw 0.4s linear;
  }
  
  @keyframes throw {
    from {
      transform: translate(-400%, -700%);
      opacity: 0;
    }
    to {
      transform: translate(0%, 0%);
      opacity: 1;
    }
  }
  
  /* Botones de mas y menos */
  .buttonCantidad {
    --bg: #cfc7c7;
    --hover-bg: #cfc7c75b;
    color: #000000;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: 5px;
    padding: 0.0em 0.7em;
    background: var(--bg);
    transition: 0.2s;
    margin-left: 5px;
  }
  
  .buttonCantidad:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
  
  .buttonCantidad:active {
    transform: translate(0);
    box-shadow: none;
  }
  
  /* Apartado del resumen de compra */
  .resumenCompra {
    background-color: #e9e7eb;
    border: 1px solid #454446;
    padding: 10px;
    border-radius: 1rem;
    margin-top: -5%;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;margin-bottom: 3%;
  }
  
  
  @media (max-width: 768px) {
    .maincarrito {
      margin-top: 5%;
      padding: 5% 2% 15% 2%;
      max-width: 100%;
      width: 100%;
    }
    .carrito{
      margin-top: 15%;
      max-width: 100%;
      width: 100%;
    }
    .carrito h3 {
      margin-top: 3%;
      margin-left: 0%;
      font-size: 18px;
    }
  
    .carrito hr {
      margin-left: -4%;
      width: 105.5%;
    }
  
    .producto img {
      width: 80px;
      margin-right: 5px;
    }
  
    .nombre-producto {
      font-size: 14px;
    }
  
    .precioProducto{
      margin-left: 10%;
      font-size: 14px;
    }
  
    .resumenCompra {
      width: 90%;
      padding: 5%;
    }
  
    .boton1, .boton2 {
      padding: 8px 15px;
      margin-top: 5px;
      font-size: 14px;
    }
   
    .buttonCantidad-container {
      display: flex;
      justify-content: space-around;
      margin-bottom: 3%;
      margin-left: 0%;
      margin-right: -12%;
      margin-top: -9%;
      max-width: 10%;
      margin-bottom: -20%;
    }
  
    .button-group {
      display: flex;
      align-items: center;
    }
  
    .button-group .buttonCantidad,
    .button-group .bin-button {
      margin: 0 5px;
    }
  
    .bin-button {
      height: 25px; /* Ajusta la altura según tu diseño */
      width: 25px; /* Ajusta el ancho según tu diseño */
    }
  }

  .boton-seguirComprando {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ajusta la altura según sea necesario */
    margin-bottom: 10px;
  }
  
  .seguir-comprando-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; /* Tamaño de la fuente */
    width: 50%; /* Ancho del botón */
    padding: 10px 20px; /* Espaciado interno */
    background-color: #1b98e6; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes sin redondear */
    cursor: pointer; /* Cursor de mano al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave para cambios de color */
  }
  
  .seguir-comprando-button:hover {
    background-color: #17a3d6; /* Color de fondo al pasar el cursor */
  }
  

  .boton-mercadoPago {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ajusta la altura según sea necesario */
  }
  
  .mercadopago-button {
    font-family: 'Bebas Neue', sans-serif; /* Fuente personalizada */
    font-size: 20px; /* Tamaño de la fuente */
    width: 25%; /* Ancho del botón */
    padding: 15px; /* Espaciado interno */
    background-color: #126cd1; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    border: none; /* Sin bordes */
    border-radius: 50px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave para cambios de color */
  }
  
  /* Efecto hover para el botón */
  .mercadopago-button:hover {
    background-color: #11c14e; /* Color de fondo al pasar el cursor */
  }

  
  