body {
  margin: 0;
  padding: 0;
  background-color: #454446;
}

/* Establece una altura mínima del viewport */
html, body {
  height: 100%;
}

/* Establece el color de fondo general */
body {
  background-color: #8f8e90;
  font-family: Bebas Neue; /* Cambiado a una fuente más común */
}

/* Establece el color del texto para todos los elementos */

.bg-custom {
  background-color: #454446; /* Establece el color de fondo personalizado */
}
/* Estilos para la barra de navegación */
.navbar-brand {
  color: white; /* Cambiado a blanco para mayor contraste */
}

.navbar-light .navbar-nav .nav-link {
  color: white; /* Establece el color del texto de los enlaces de navegación en blanco */
}

.custom-padding {
  margin: 1% 1% 1% 1%; /* Ajusta los márgenes superior, derecho e izquierdo */
  border-radius: 20px;
}

/* Estilos para el contenido principal */
.main {
  font-family: Bebas Neue;
  position: relative;
  flex-wrap: wrap;
  margin-top: 10%; /* Ajustado para adaptarse al nuevo margen superior */
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; /* Asegura que no hay margen izquierdo */
  height: auto;
  width: 100%; /* Ancho completo */
  max-width: 100%;
  padding: 4% 0% 10% 10%; /* Ajustado para adaptarse al nuevo margen superior */
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #8f8e90;
}

/* Estilos para el contenedor de imágenes */
@media (max-width: 800px) {
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin-right: 0.5%;
  background-color:#454446 ;
}

.navbar-nav .nav-link {
  font-size: 18px;
  text-align: center;
  background-color:#454446 ;
  width: 100%;
}

.navbar-brand span {
  font-size: 24px;
  background-color:#454446 ;
}
.navbar-toggler-icon{
  background-color:#454446 ;
}
.navbar-brand img {
  width: 40px;
  height: 40px;
}

.custom-carousel-container {
  padding-top: 60px;
}
.main{
  max-width: 100%;
}
.cardsBusqueda{
  margin-bottom: 10%;
  margin-right: 2%;
}
.buscador{
  top: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
}
.card {
  width: 100%;
}

.card-body h5 {
  font-size: 18px;
}
.container-cards {
  margin-top: 7%;
}
.card-body p {
  font-size: 14px;
}

.btn-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.icon-cart {
  width: 24px;
  height: 24px;
}
.custom-select{
  display: none;
}
.quantity {
  font-size: 12px;
}
.paginas {
  margin-left: 0; /* Elimina el margen izquierdo para mover todo a la izquierda */
  margin-right: 0; /* Elimina el margen derecho */
  width: 22%;
  padding: 0 4% 0 5%;
  max-width: 22%;
  align-items: center;
  margin: 5% 0 0 35%;
  background-color: #454446;
  border-radius: 15px;
  color: white;
  }
}
#quantity {
  text-align: center;
  /* Estilos adicionales para el número */
  margin-top: 3%;
  font-size: 14px; /* Tamaño de fuente */
  font-weight: bold; /* Peso de la fuente */
  color: white;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; /* Alinea el contenido al centro verticalmente */
  margin: 0; /* Elimina márgenes para alinear completamente a la izquierda */
  padding: 0; /* Elimina padding */
}

.card {
  width: 18rem; /* Ajusta el ancho de la tarjeta según tus necesidades */
  margin: 20px 150px 10px 0; /* Ajusta el margen entre las tarjetas */
}

.container-cards {
  display: flex;
  flex-wrap: wrap; /* Asegura que los elementos se envuelvan en múltiples líneas si es necesario */
  justify-content: center; /* Alinea los elementos al centro horizontalmente */
  padding: 0 46px; /* Ajusta el padding horizontal para el contenedor */
  margin-right: 3%; /* Asegura que no haya margen derecho en el contenedor */
 
}



/* Estilos para el carrusel */


/* Estilos para la barra de búsqueda */
.buscador {
position: absolute;
top: 10px;
right: 10px;
display: flex;
align-items: center;
border-radius: 20px;
}

.cardsBusqueda{
margin-top: 10%;
}

.card-filter {
width: 100%;
height: 30px;
border-radius: 10px 0 0 10px;
border: 1px solid #ccc;
padding: 5%;
font-size: 15px;
}

.btn-buscar {
width: 60px;
height: 30px;
border-radius: 0 10px 10px 0;
border: none;
background-color: #454446;
color: white;
cursor: pointer;
outline: none;
font-size: 15px;
}

.btn-outline-success {
font-size: 1.5vw; /* Tamaño de fuente relativo al ancho de la ventana */
}
#cart-container{
  max-width: 500px;
  margin: auto;
}

.tarjeta-producto{
  display: flex;
  align-items: center;
  height: 100px;
  gap: 20px;
}

.tarjeta-producto img{
  height: 100%;
}

.tarjeta-producto h3{
  width: 130px;
}
.tarjeta-producto div{
  background-color: var(--color-acento-claro);
  padding: 3px;
  border-radius: 5px;
}

#totales{
  text-align: center;
}

#carrito-vacio{
  text-align: center;
}
/* Estilos para el filtro */
.custom-select select {
  padding: 0.2%;
  margin: 0.4% 0 0 0;
  position: fixed;
  width: 10%; /* Utiliza el 20% del ancho de la ventana */
  position: absolute; /* Cambiado a posición absoluta */
  top: 0%; /* Ajusta la distancia desde la parte superior */
  left: 1%; /* Ajusta la distancia desde la izquierda */
  z-index: 999; /* Asegura que la barra esté por encima de otros elementos si hay superposiciones */
  text-align: center; /* Alinea el texto al centro */
  font-size: 100%; /* Tamaño de fuente relativo al ancho de la ventana */
  height: auto; /* Altura automática */
  border-radius: 30px; /* Radio de borde */
  }
  
  .filter {
  display: none;
  opacity: 0;
  order: 1;
  }

.btn-outline-success {
font-size: 1em; /* Tamaño de fuente relativo */
}

.btn-outline-success {
  font-size: 1em; /* Tamaño de fuente relativo */
}

/* Ofertas */
.p {
font-size: 16px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
}

.discount {
color: rgb(37, 216, 52);
}

.subtitulos {
font-size: 30px;
text-align: center;
margin: 30px auto;
}
boton {
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  background: dodgerblue;
  color: white;
  border-radius: 4px;
 }
 
 boton:hover {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
 }
 
 boton:active {
  transform: translate(0em, 0.2em);
 }

/* Estilos para los contenedores de métodos */
.methods {
display: flex;
flex-direction: column;
/* Apila los elementos verticalmente */
align-items: center;
border-radius: 30px;
width: 80%;
/* Establece un ancho máximo para evitar que los métodos se extiendan demasiado en pantallas grandes */
max-width: 350px;
margin: 0 auto 30px;
/* Añade espacio debajo de los métodos */
}

.pagination-container {
display: flex;
justify-content: center;
margin-top: 20px;
}

/* Footer estilo */
.footer {
font-family: Bebas Neue;
background-color: #454446;
width: 100%;
max-width: 100%; /* Ancho máximo para el footer */
margin: auto; /* Centra el footer en la página */
padding: 19px; /* Ajusta el espacio interno del footer */
}

.footer .grupo-1 {
width: 100%;
max-width: 1200px;
margin: auto;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 50px;
padding: 45px;
}

.grupo-1 .box figure {
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.grupo-1 .box h2 {
color: white;
margin-bottom: 2%;
font-size: 20px;
}

.grupo-2 {
padding: 1% 1%;
text-align: center;
}

@media screen and (max-width: 800px) {
.footer .grupo-1 {
  width: 90%;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  padding: 35px 0px;
}

.footer {
  max-width: 100%;
}
}

.carts {
width: fit-content;
height: fit-content;
background-color: #454446;
display: flex;
align-items: center;
justify-content: center;
padding: 1% 0 1% 0;
gap: 20px;
}

.linkPaginas {
text-decoration: none;
color: rgb(44, 44, 44);
display: block; /* Hace que los enlaces se muestren como bloques, ocupando toda la anchura disponible */
margin-bottom: 10px; 
}

.socialContainer {
width: 52px;
height: 52px;
background-color: rgb(44, 44, 44);
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
transition-duration: .3s;
}

.socialContainer:not(:last-child) {
margin-right: 20px; /* Espacio entre los iconos */
}

/* Instagram */
.containerOne:hover {
background-color: #d62976;
transition-duration: .3s;
}

/* Twitter */
.containerTwo:hover {
background-color: #00acee;
transition-duration: .3s;
}

/* LinkedIn */
.containerThree:hover {
background-color: #0072b1;
transition-duration: .3s;
}

/* WhatsApp */
.containerFour:hover {
background-color: #128C7E;
transition-duration: .3s;
}

.socialContainer:active {
transform: scale(0.9);
transition-duration: .3s;
}

.socialSvg {
width: 17px;
}

.socialSvg path {
fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.grid-column {
  display: flex;
  flex-wrap: wrap;
  /* Permite que los elementos se ajusten en múltiples filas si es necesario */
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 30px;
  max-width: 100%;
  width: 100%;
}

.figura {
  text-align: center;
  height: auto;
  overflow: hidden;
  margin: 30px;
  /* Simplifica los márgenes */
}
/* APARTADO DEL CARRITO DE COMPRA*/




/* Boton del carrito de compra */
.btn-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  position: relative;
  right: 0;
  top: -5px;
}

.btn-cart::after {
  content: attr(data-quantity);
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-size: 15px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: .2s linear;
  top: 105%;
}

.icon-cart {
  width: 22px;
  height: 22px;
  transition: .2s linear;
  margin-right: 5px;
}

.icon-cart path {
  fill: rgb(8, 112, 240);
  transition: .2s linear;
}

.btn-cart:hover > .icon-cart {
  transform: scale(1.2);
}

.btn-cart:hover > .icon-cart path {
  fill: rgb(34, 233, 84);
}

.btn-cart:hover::after {
  visibility: visible;
  opacity: 1;
  top: 80%;
}

.quantity {
  display: none;
}

.carrito-activo .icon-cart {
  fill: rgb(34, 233, 84);
}

.carrito-activo .icon-cart path {
  fill: rgb(34, 233, 84);
}

/* Escrito sobre el carrito */
.carrito h3 {
  margin-top: -3%;
  margin-left: -10%;
}

.carrito hr {
  margin-left: -12%;
  width: 120%;
  border-width: 2px;
}

/* Estructura del producto */
